<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wh.rwdata">

    <application>
        <activity android:name=".imagePicker.ImagePickerActivity" />
        <activity android:name=".versionupdate.VersionUpdateActivity" />
        <receiver android:name=".versionupdate.DownLoadCompleteReceiver" />
    </application>

</manifest>